# Node modules
/node_modules

# Laravel specific
/public/hot
/storage/*.key
/vendor
/.phpunit.result.cache
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

# Ignore everything in public/storage except feature_images
/public/storage/*
!/public/storage/feature_images/

# IDE and editor specific
/.vscode
/.idea
/.php_cs.cache
/.DS_Store
